<form method="post" id="record_form" onsubmit="return sures()">
    {% csrf_token %}
    阅读记录
    {% for r,u in new_sign %}
        <div class="r" style="height: 20px">
        <input type="checkbox" value="{{ r.name }}" name="delete_check">
        <a href="{{ r.name }}">
            {{ r.name   }}
        </a>
        {% if u == False %}
        新
        {% endif %}
        </div>
    {% endfor %}
    <br>
    <button type="submit">
        删除记录
    </button>

</form>
    <br>
    <button id="update">
        更新
    </button>